/*body{
  background-color: red;
}
.icon_group{
       padding: 5px 0;
       padding-left: 850px;
}
.icons{
       padding: 2px;
       font-size: 1.5em;
       margin: 5px 1px;
}
.directioner{
  height:70px;
       padding: 0 0;
       margin-top: 20px;
     }
     .text1{
       color: #CA141F;
       font-family: Pacifico;
     }
     .content{
       width: 900px;
       margin-top: 150px;
       border: 1.2px solid black;
       padding: 150px;
     }
     .footer{
       margin-top: 20px;
       height: 110px;
       background-color: purple;
     }
     #footer_text{
       float:right;
       font-size: 18px;
       padding-right: 15px;
       padding-top:5px;
       color: yellow;
     }
     .gototop{
       position: fixed;
       bottom: 105px;
       right: 10px;
       padding-left: 1100px;
       font-size: 20px;
       color: white;
     }*/