* {
    font-family: "Courier New", Helvetica, sans-serif;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.3);
    /*background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bicycles.jpeg");*/
    background-image: -webkit-linear-gradient(#FFD194 , #BC1324);
    background-repeat:no-repeat;
    background-position: left top;
    /*background-size: contain;*/
    background-attachment: fixed;
}
h1, h3 {
       color: rgba(45,20,78,0.6);
       background-color: darkmagenta;
       font-size: 1em;
       font-style: italic;
       text-align: center;
       padding: 20px 0px;
}/*This changes color of elements h1 and h3 to green */
h2.main {
  color : hsla(350, 58.8%, 42.0%,0.9);
  text-transform : uppercase;
}
h1{
  position:fixed;
  left: 900px;
}
p.main {
  color: #452F73;
  font-family : Helvetica, Garamond, serif;
  font-size: 20px;
  line-height : 1.5 em;
  word-spacing : 0.2 em;
  letter-spacing : 0.02 em;
}
img{
  border-radius: 50px;
  margin: 5px 5px;
  width: 20%;
  margin : auto;
  display: block;
}
ol{
  display : inline;
}
.Main, #Age{
  font-weight : bold;
}
.marks{
  font-style: italic;
}
h2.main{
  font-size: 200%;
}
