* {
    font-family: Georgia;
}
h1, h2, h3 {
       color: rgb(123,20,255);
       background-color: darkmagenta;
}/*This changes color of elements h1, h2 and h3 to green */
p {
  color: #452F73;
  font-size: 20px;
}
